
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Silkscreen&display=swap');


.titulo {
    font-family: 'Merriweather', serif;
  font-size: 2em;
 color: white;
  
}
body {
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(3,201,26,1) 73%, rgba(0,212,255,1) 94%);
}
.fechayhora{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(3,201,26,0.2329306722689075) 0%, rgba(0,0,0,0.577468487394958) 0%);
}
